.header{
    background-image: linear-gradient(90deg, #0065FC 0%, #67B6FF 63.54%, #A9E5FF 100%);
    height: 24vh;
    position: relative;
    font-family: 'wendy one';
    letter-spacing: .12rem;
    margin-bottom: 5rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &__title{
        color: #ffffff;
        font-size: 8rem;
        text-align: center;
        user-select: none;
    }

    &__sub{
        color: #ffffff;
        font-size: 2rem;
        text-align: center;
        user-select: none;
    }
}